.diary-upload{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}
.diary-upload input[type='text']{
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 1.3rem;
    font-size: 1.6rem;
}

.diary-upload textarea{
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 500px;
}
.diary-upload input[type='file']{
    border: 1px solid #ddd;    
    border-radius: 10px;
    padding: 0.5rem;
}
.diary-upload button{
    font-size: 1.2rem;
    padding: 1rem 1.4rem;
    margin: auto;
    border-radius: 10px;
    transition: 0.3s;
}
.diary-upload button:hover{
    color: #fff;
    background-color: rgb(201, 187, 224);
}
