/* 웹폰트 */
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cafe24Ohsquareair',serif;
    border:none;
    outline: none;
}
a{
    text-decoration: none;
}
/* ########## Main Page ########## */
header{
    background-color: rgb(201, 187, 224);
    height: 130px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
    left: 0;
    top: 0;
}
header .logo img{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header .logo span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    color: #fff;
}
.header .login-button{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 3px solid #fff;
    font-size: 0.8rem;
}
.header .login-button a{
    color: #fff;
    font-weight: 600;
}
.main{
    width: 100%;
}
.diary-upload{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
}
.diary-upload input[type='text']{
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 1.3rem;
    font-size: 1.6rem;
}
.diary-upload textarea{
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 500px;
}
.diary-upload input[type='file']{
    border: 1px solid #ddd;    
    border-radius: 10px;
    padding: 0.5rem;
}
.diary-upload button{
    font-size: 1.2rem;
    padding: 1rem 1.4rem;
    margin: auto;
    border-radius: 10px;
    transition: 0.3s;
}
.diary-upload button:hover{
    color: #fff;
    background-color: rgb(201, 187, 224);
}
